header{
background-color: #04364A;
height: 150px;
padding: 0px;
color: white;
position: relative;

}


img{
position: absolute;
top:10px ;
left: 10px;
}


.main{
bacKground-color:#64CCC5 ;
}

.sideright{
float:right;
background-color: #176B87;

height:100%;
width: 250px;
}



table{
width: 100%;
}

table, th{
background-color: #64CCC5;
border: 2px solid black;
border-collapse: collapse;
padding-top: 10px;
padding-bottom:10px ;
}

th{
	width: 20%;
}

.only{
	width: 70%;
	height: 430px;
vertical-align: top;
	
}

.table2{
	height: 500px;
}

td{
border:2px solid black ;
text-align: center;
font-size: 30px;
}

.on{
	text-align: top;
font-size: 30px;
vertical-align: top;


}